.main {
    width: 1000px;
    margin: auto;
    font-family: "Georgia Regular";
}
/* Black navigation bar */
.navback {
    background-color: #2e2e2e;
    height: 60px;
}
.navbar {
    color: #9f9f9f;
    padding: 24px;
    font-size: 12px;
}
.navbar li {
    float: left;
    list-style-type: none;
    padding-left: 8px;
}
.navbar a {
    text-decoration: none;
    color: #9f9f9f;
}
.icons {
    float: right;
    margin-top: -60px;
    margin-right: 20px;
    font-size: 50px;
    color: #787878;
}
.icon:hover {
    color: #db4a39;
}
/* white navigation bar */
.navback1 {
    height: 120px;
    padding-left: 20px;
    font-size: 14px;
}
.navbar1 {
    border-bottom: 6px solid #f1f1f1;
    padding-top: 40px;
    padding-bottom: 36px;
    margin-right: 20px;
    padding-left: 0;
}
.navbar1 li {
    float: left;
    list-style-type: none;
    padding-right: 20px;
}
.navbar1 a {
    text-decoration: none;
    color: #2e2e2e;
    padding: 2px;
}
.navbar1 a:hover {
    color: silver;
    border-bottom: 6px solid #0099ff;
    padding-bottom: 20px;
    text-decoration: none;
}
/* The 'NobodysFool' section */
.nobody {
    height: 100px;
    width: 960px;
    margin: auto;
}
.placehold {
    float: right;
    width: 300px;
    margin-top: -40px;
}
.search {
    background-color: #f1f1f1;
    border-radius: 6px;
    border: 1px #f1f1f1;
    height: 30px;
    width: 215px;
    float: right;
    padding-left: 2px;
}
button {
    float: right;
    height: 30px;
    width: 70px;
    border-radius: 6px;
    font-size: 12px;
    color: #ffffff;
    background-color: #0099ff;
    border: 1px #0099ff;
}
/*  The 'Slide show' section */
.secgrey {
    height: 455px;
    background-color: #f1f1f1;
    border-top: 6px solid #e9e9e9;
    border-bottom: 10px solid #e9e9e9;
}
.lside {
    width: 400px;
    position: absolute;
    padding-top: 140px;
    padding-left: 20px;
    float: left;
}
.size1 {
    font-size: 16px;
    color: #666666;
}
.button1 {
    width: 125px;
    float: left;
}
/* The Slide show */
.box {
    float: right;
    width: 60%;
}
* {box-sizing:border-box}

.slideshow-container {
    max-width: 550px;
    max-height: 440px;
    margin: auto;
}
.mySlides {
    display: none;
}
.text {
    color: #ffffff;
    font-size: 22px;
    padding-top: 210px;
    text-align: center;
}
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #000000;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    float: left;
}
.active, .dot:hover {
    background-color: #333333;
    border: 3px solid #000000;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.box1 {
    background-color: #333333;
    height: 424px;
    width: 550px;
    margin: 15px;
    padding-left: 20px;
}
.bubbles {
    margin-top: -40px;
    margin-left: 20px;
}
/* The 'Computer' section */
.secwhite {
    height: 665px;
}
.picture {
    margin-top: 40px;
    margin-left: 20px;
    float: left;
}
.bigone {
    height: 430px;
    width: 470px;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 12px;
    color:#666666;
}
.small1 {
    height: 230px;
    width: 225px;
    float: left;
    text-align: center;
}
.little1 {
    height: 80px;
    width: 85px;
    background-color: #333333;
    margin: auto;
    padding-top: 30px;
    color: #ffffff;
    font-size: 18px;
}
.small2 {
    height: 230px;
    width: 225px;
    float: right;
    text-align: center;
}
.small3 {
    height: 200px;
    width: 225px;
    float: left;
    text-align: center;
}
.small4 {
    height: 200px;
    width: 225px;
    float: right;
    text-align: center;
}
.size2 {
    font-size: 12px;
    color: #0099ff;
}
.advertis {
    height: 120px;
    width: 960px;
    background-color: #e0e0e0;
    margin-top: 40px;
    float: right;
    padding-left: 20px;
    border-left: 10px solid #0099ff;
}
.button2 {
    float: right;
    height: 60px;
    width: 280px;
    border-radius: 6px;
    font-size: 26px;
    color: #e1dada;
    background-color: #0099ff;
    border: 1px #0099ff;
    margin-top: -90px;
    margin-right: 50px;
}
/* The 'Info' section*/
.secblack {
    height: 390px;
    background-color: #1a1a1a;
    clear: both;
    border-top: 6px solid #000000;
}
.infobox {
    height: 345px;
    width: 225px;
    margin-left: 20px;
    margin-top: 40px;
    float: left;
}
.infobox1 {
    height: 345px;
    width: 225px;
    margin-right: 20px;
    margin-top: 40px;
    float: right;
}
.lbox {
    background-color: #232323;
    height: 90px;
    width: 225px;
}
.infoplace {
    background-color: #232323;
    height: 100px;
    width: 225px;
    border-radius: 6px;
    border: 1px #232323;
    padding: 2px;
    margin-bottom: 20px;
}
.place {
    margin-bottom: 10px;
    height: 30px;
}

h1 {
    font-size: 36px;
    color:#333333;
}
p {
    font-size: 12px;
    color: #999999;
}
.navbar3 li {
    border-bottom: solid 1px #232323;
    list-style-type: disc;
    color: grey;
    padding: 2px;
}
a {
    text-decoration: none;
    color: #0099ff;
    font-size: 12px;
}
h4 {
    color: #ffffff;
    font-size: 12px;
}
h3 {
    color: #ffffff;
    font-size: 16px;
    padding: 35px;
    margin-left: 40px;
}
.size3 {
    float: right;
}
/* Footer */
footer {
    height: 70px;
    width: 1000px;
    background-color: #222222;
    color: #666666;
    padding: 15px;
}
.foot {
    float: right;
    margin-top: -27px;
}